In [29]:
import yfinance as yf
help(yf.Ticker.history)

Help on function history in module yfinance.base:

history(self, period='1mo', interval='1d', start=None, end=None, prepost=False, actions=True, auto_adjust=True, back_adjust=False, proxy=None, rounding=False, tz=None, **kwargs)
    :Parameters:
        period : str
            Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
            Either Use period parameter or use start and end
        interval : str
            Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
            Intraday data cannot extend last 60 days
        start: str
            Download start date string (YYYY-MM-DD) or _datetime.
            Default is 1900-01-01
        end: str
            Download end date string (YYYY-MM-DD) or _datetime.
            Default is now
        prepost : bool
            Include Pre and Post market data in results?
            Default is False
        auto_adjust: bool
            Adjust all OHLC automatically? Default is True
        back_adjust: bool
            Back-adjusted data to mimic true historical prices
        proxy: str
            Optional. Proxy server URL scheme. Default is None
        rounding: bool
            Round values to 2 decimal places?
            Optional. Default is False = precision suggested by Yahoo!
        tz: str
            Optional timezone locale for dates.
            (default data is returned as non-localized dates)
        **kwargs: dict
            debug: bool
                Optional. If passed as False, will suppress
                error message printing to console.

In [1]:
# libraries
from pandas_datareader import data as pdr
import yfinance as yf

def download_raw_stock_data(filepath, tickers, start, end, period = '1d'):
    """
    Download Stock tickers
    :Parameters:
        filepath: str
            path to store the raw data
        tickers : str, list
            List of tickers to download
        period: str
            the frequency at which to gather the data; common options would include ‘1d’ (daily), ‘1mo’ (monthly), ‘1y’ (yearly)
        start: str
            the date to start gathering the data. For example ‘2010–1–1’
        end: str
            the date to end gathering the data. For example ‘2020–1–25’
    
    """
    #define the ticker symbol
    tickerSymbol = tickers

    #get data on this ticker
    tickerData = yf.Ticker(tickerSymbol)

    #get the historical prices for this ticker
    tickerDf = tickerData.history(period=period, start=start, end=end)
    tickerDf.to_csv(filepath)

/home/mehta.omkar/.local/lib/python3.8/site-packages/requests/__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.6) or chardet (2.3.0)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [26]:
dict_tickers = {
    'Apple': 'AAPL',
    'Microsoft': 'MSFT',
    'Google': 'GOOG',
    'Bitcoin': 'BTC-USD',
    'Facebook': 'FB'
}
period = '1d'
start='2010-1-1'
end='2020-1-25'
for tickerName, ticker in dict_tickers.items():
    tickerName = tickerName
    ticker = ticker
    filepath = f"raw-stock-data/{tickerName}.csv"
    download_raw_stock_data(filepath, ticker, start, end, period)

In [3]:
import pandas as pd
df = pd.read_csv('raw-stock-data/Apple.csv')

In [4]:
df.set_index('Date', inplace=True)
df1 = df[['Open', 'Close']].copy()
df1.head(5)

                Open     Close
Date
2010-01-04  6.544805  6.562591
2010-01-05  6.580681  6.573935
2010-01-06  6.573936  6.469369
2010-01-07  6.493286  6.457407
2010-01-08  6.448822  6.500339

In [5]:
df1

                 Open      Close
Date
2010-01-04   6.544805   6.562591
2010-01-05   6.580681   6.573935
2010-01-06   6.573936   6.469369
2010-01-07   6.493286   6.457407
2010-01-08   6.448822   6.500339
...               ...        ...
2020-01-17  78.023925  78.630814
2020-01-21  78.250892  78.097939
2020-01-22  78.593807  78.376717
2020-01-23  78.430981  78.754158
2020-01-24  79.005798  78.527199

[2532 rows x 2 columns]